name: Build

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  schedule:
    - cron: '0 0 * * *'

jobs:
  build-maven:
    name: Build Maven

    runs-on: ubuntu-latest
    strategy:
      matrix:
        jdk: [8, 11, 17, 21]
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.jdk }}
          distribution: "semeru"
          cache: maven
      - name: Build with Maven
        run: mvn --batch-mode --update-snapshots --file pom.xml -Djava.version=${{ matrix.jdk }} verify
        
  build-mvnw:
    name: Build Maven Wrapper

    runs-on: ubuntu-latest
    strategy:
      matrix:
        jdk: [8, 11, 17, 21]
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK ${{ matrix.jdk }}
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.jdk }}
          distribution: "semeru"
          cache: maven
      - name: Build with Maven
        run: ./mvnw --batch-mode --update-snapshots --file pom.xml -Djava.version=${{ matrix.jdk }} verify 

  build-gradle:
    name: Build Gradle
    
    runs-on: ubuntu-latest
    strategy:
      matrix:
        jdk: [8, 11, 17, 21]
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK ${{ matrix.jdk }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.jdk }}
        distribution: 'semeru'
    - uses: gradle/actions/setup-gradle@v3
      with: 
        gradle-version: 8.5
    - name: Build with Gradle
      run: gradle clean build -Pjava_version=${{ matrix.jdk }}

  build-gradlew:
    name: Build Gradle Wrapper

    runs-on: ubuntu-latest
    strategy:
      matrix:
        jdk: [8, 11, 17, 21]
    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK ${{ matrix.jdk }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.jdk }}
        distribution: 'semeru'
    - uses: gradle/actions/setup-gradle@v3
      with: 
        gradle-version: 8.6
    - name: Build with Gradle
      run: ./gradlew clean build -Pjava_version=${{ matrix.jdk }}      
